<div class="container" ng-controller="bar_Regina as bar">
    <button class="btn btn-success add">Добавить</button>
    <table class="table table-bordered">
        <thead class="head-table">
            <tr>
                <td>№</td>
                <td>Напитки</td>
                <td>Объем</td>
                <td>Добавки</td>
                <td>Редактировать</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">тут будет нужный номер
                </th>
                <td>
                    <select name="" id="">
                        <option value="" ng-repeat="rw in bar.select_water">{{rw}}</option>
                    </select>
                </td>
                <td>
                    <select name="" id="">
                        <option value="" ng-repeat="rw in bar.select_liters">{{rw}}</option>
                </td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-pencil edit" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-trash remove" aria-hidden="true"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
