body {
	background-image: url('../img/background.jpg');
	background-size: cover;
	color: #000;
	padding-top: 100px;
}

.head-table .dropdown-toggle {
	width: 100%
}

.edit:hover {
	color: #00ba67;
}

.remove:hover {
	color: #f00;
}