.head-table .dropdown-toggle {
    width: 100%
}

.edit:hover {
    color: #00ba67;
}

.remove:hover {
    color: #f00;
}

.form-control {
    width: 200px;
}

thead {
    color: #888;
    font-size: 13px;
}

td#price {
    font-size: 24px;
}

.left {
    padding: 5px;
    /* Поля вокруг текста */
    float: left;
    /* Обтекание по правому краю */
    width: 60%;
    margin-right: 50px;
}

.right {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 30px;
    padding-left: 40px;
    width: 400px;
    /* Ширина слоя */
    height: 300px;
    float: left;
}



body {
 
  color: #505050;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8; }

  ol, ul {
  list-style: none; }


/* Headings */


a {
    text-decoration: none;
    color: #3cb5f9;
}

a:hover {
    color: #0793e2;
}


/* =Template
-------------------------------------------------------------- */

#wrapper {
	min-height: 100%;
    width: 100%;
    margin: 0 auto;
}

#main {
    background-color: #fff;
    padding-top: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 30px;
}

/* =Info Bar
-------------------------------------------------------------- */

#info-bar {
    background-color: #3cb5f9;
    
}

#info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px;
}

#info-bar a:hover {
    background-color: #0793e2;
}

#info-bar span.all-tutorials,
#info-bar span.back-to-tutorial {
    display: block;
    width: 50%;
}

#info-bar span.all-tutorials {
    float: left;
    text-align: left;
}

#info-bar span.back-to-tutorial {
    float: right;
    text-align: right;
}


/* =Header
-------------------------------------------------------------- */

header {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: fixed;
    border-bottom: 1px solid #e8e8e8;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #212322;
    text-decoration: none;
}

header h1 {
    display: inline;
    height: 150px;
    /* line-height: 100px; */
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav {
    display: inline-block;
    float: right;
    
    margin-top: 30px;
}

header nav a {
    /* line-height: 100px; */
    margin-left: 35px;
    text-decoration: none;
    display: inline-block;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav a:hover {
    color: white;
    text-decoration: none;
}

header.smaller {
    height: 75px;
}

header.smaller h1 {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

header.smaller nav a {
    line-height: 75px;
}


/* =Footer
-------------------------------------------------------------- */


/* =Extras
-------------------------------------------------------------- */

.clearfix:after {
    visibility: hidden;
    display: inline-block;
    clear: both;
    text-decoration: none;
}

.bad {
  color: #d50000;
  font-weight: bold;
}

.normal {
}

.good {
  color: #1b5e20;
  font-weight: 700;
}
